{% extends 'main/crud.html' %}

{% block table %}
    <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Quantidade disponível</th>
        <th>Preço unitário</th>
        <th></th>
        <th></th>
    </tr>

    {% for data in dataset %}
        <tr>
            <td>{{ data.id }}</td>
            <td>{{ data.nome }}</td>
            <td>{{ data.quantidadeDisponivel }}</td>
            <td>{{ data.precoUnitario }}</td>
            <td><a href="update/{{data.id}}" class="btn btn-primary">Editar</a></td>
            <td><a href="delete/{{data.id}}" class="btn btn-danger" onclick="return confirm('Deseja excluir essa linha?');";>Deletar</a></td>
        </tr>
    {% endfor %}
{% endblock %}